body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    background-color: #ffffff;
  }
  
  nav {
    background-color: #d74545;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: #000000 3px solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9) inset;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .logo:hover{
    cursor: pointer;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: large;
  }
  
  .menu li a:hover {
    color: #000000;
    border-bottom: rgb(0, 0, 0) solid 2px;
  }
  
  @media screen and (max-width: 768px) {
    .logo {
      font-size: 20px;
    }
  
    .menu {
      display: none;
      flex-direction: column;
      padding-top: 10px;
      border-top: white solid 2px;
    }
  
    .menu li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .menu li:last-child {
      margin-bottom: 0;
    }
  
    .menu li a {
      color: #fff;
    }
  
    .menu-toggle {
      display: block;
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      padding: 10px;
      cursor: pointer;
    }
  }
  .menu-toggle {
    display: none;
    position: relative; 
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      display: none;
      position: absolute;
      top: 14%;
      left: 0;
      background-color: #333;
      padding: 10px 0;
      margin-top: 10px; 
      width: 100%; 
    }
  
    .menu.active {
      display: block;
    }
  
    .menu li {
      text-align: center;
      margin-bottom: 10px;
    }
  
    .menu li:last-child {
      margin-bottom: 0;
    }
  
    .menu li a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 10px;
      transition: background-color 0.3s ease;
    }
  
    .menu li a:hover {
      background-color: #ffffff;
      color: black;
    }
  
    .menu-toggle {
      display: block;
      color: #fff;
      font-size: 40px;
      text-decoration: none;
      padding: 10px;
      cursor: pointer;
    }
  }
  .menu a.active {
    border-bottom: white solid 2px;
  }
  @media screen and (max-width: 768px) {
    .menu a.active {
      color: #000000; 
      background-color: #ffffff; 
    }
  }

  #container {
    margin-top: 25px;
    display: flex;
    min-height: 600px;
    border: 2px solid #333; /* Add border to the container */
    background-color: #f1f1f1; /* Set background color */
    border-top: none;
  }
  
  /* Style the content section */
  #nextContainer {
    flex: 1; /* Occupy 80% of the available width */
    padding: 20px; /* Add padding for spacing */
    background-color: #ffffff; /* Set background color */
    border-right: 2px solid #333; /* Add a right border */
  }
  
  /* Style the item container */
  #itemContainer {
    text-align: center;
  }
  
  /* Style the buttons section */
  #button-container {
    width: 20%; /* Fixed width for the button container */
    display: flex;
    flex-direction: column;
    background-color: #333; /* Set background color */
    padding: 10px;
    order: 2; /* Change the order to appear on the right */
  }
  
  /* Style individual buttons */
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 5px; /* Add margin between buttons */
    flex-grow: 1; /* Make buttons fill the available height */
    border: #d74545 solid 1px;
  }
  .button:hover{
    box-shadow: -5px 0 5px #d74545 inset, 0 -5px 5px #d74545 inset, 5px 0 5px #d74545 inset, 0 5px 5px #d74545 inset;
  }
  .button.active {
    color: #ffffff;
    /* border: 2px solid#d74545;  */
    background-color:#d74545;
    box-shadow: -5px 0 5px #000000 inset, 0 -5px 5px #000000 inset, 5px 0 5px #000000 inset, 0 5px 5px #000000 inset;
  }
