body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    background-color: #ffffff;
  }
  
  nav {
    background-color: #d74545;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: #000000 3px solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9) inset;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .logo:hover{
    cursor: pointer;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: large;
  }
  
  .menu li a:hover {
    color: #000000;
    border-bottom: rgb(0, 0, 0) solid 2px;
  }
  
  @media screen and (max-width: 768px) {
    .logo {
      font-size: 20px;
    }
  
    .menu {
      display: none;
      flex-direction: column;
      padding-top: 10px;
      border-top: white solid 2px;
    }
  
    .menu li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .menu li:last-child {
      margin-bottom: 0;
    }
  
    .menu li a {
      color: #fff;
    }
  
    .menu-toggle {
      display: block;
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      padding: 10px;
      cursor: pointer;
    }
  }
  .menu-toggle {
    display: none;
    position: relative; 
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      display: none;
      position: absolute;
      top: 14%;
      left: 0;
      background-color: #333;
      padding: 10px 0;
      margin-top: 10px; 
      width: 100%; 
    }
  
    .menu.active {
      display: block;
    }
  
    .menu li {
      text-align: center;
      margin-bottom: 10px;
    }
  
    .menu li:last-child {
      margin-bottom: 0;
    }
  
    .menu li a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 10px;
      transition: background-color 0.3s ease;
    }
  
    .menu li a:hover {
      background-color: #ffffff;
      color: black;
    }
  
    .menu-toggle {
      display: block;
      color: #fff;
      font-size: 40px;
      text-decoration: none;
      padding: 10px;
      cursor: pointer;
    }
  }
  .menu a.active {
    border-bottom: white solid 2px;
  }
  @media screen and (max-width: 768px) {
    .menu a.active {
      color: #000000; 
      background-color: #ffffff; 
    }
  }

  #container {
    margin-top: 25px;
    display: flex;
    min-height: 600px;
    border: 2px solid #333; 
    background-color: #f1f1f1; 
    border-top: none;
    border-left: none;
  }
  
 
  #nextContainer {
    flex: 1; 
    padding: 20px; 
    background-color: #ffffff;
    border-right: 2px solid #333; 
  }
  
  
  #itemContainer {
    text-align: center;
  }
  

  #button-container {
    width: 20%; 
    display: flex;
    flex-direction: column;
    background-color: #333; 
    padding: 10px;
    order: 2; 
  }
  

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 5px; 
    flex-grow: 1; 
    border: #d74545 solid 1px;
  }
  .button:hover{
    box-shadow: -5px 0 5px #d74545 inset, 0 -5px 5px #d74545 inset, 5px 0 5px #d74545 inset, 0 5px 5px #d74545 inset;
  }
  .button.active1 {
    color: #ffffff;
    background-color:#d74545;
    box-shadow: -5px 0 5px #000000 inset, 0 -5px 5px #000000 inset, 5px 0 5px #000000 inset, 0 5px 5px #000000 inset;
  }

  #itemImage {
    max-width: 100%;
    max-height: 60%;
}
/* .flag-icon {
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
} */

  .form-contact{
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form{
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    border: black solid 2px;

  }
  form h3{
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 20px;
  }
  form input, form textarea{
    border: 0;
    margin: 10px 0px;
    padding: 20px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;

  }
  form button{
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 18px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0px;
    border-radius: 30px;
  }
  form button:hover{
    border: white solid 2px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .footer-copyright {
    font-size: 14px;
  }
  .footer-links a:hover{
    color: darkgray;
  }

  #modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
    width: 90%;
    max-width: 600px; 
  
  }
  
  #modal-content {
  
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    max-height: 500px; 
    overflow-y: auto; 
    padding: 20px;
    margin: 10px auto;
  }
  
  #modal-content h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #modal-content p {
    margin-bottom: 10px;
  }
  
  #modal-content a {
    color: #0066cc;
    text-decoration: none;
  }
  
  #modal-content a:hover {
    text-decoration: underline;
  }
  
  #modal1-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #modal1 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
    width: 90%;
    max-width: 600px; 
  
  }
  
  #modal1-content {
  
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    max-height: 500px; 
    overflow-y: auto; 
    padding: 20px;
    margin: 10px auto;
  }
  
  #modal1-content h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #modal1-content p {
    margin-bottom: 10px;
  }
  
  #modal1-content a {
    color: #0066cc;
    text-decoration: none;
  }
  
  #modal1-content a:hover {
    text-decoration: underline;
  }